#IDE-generated
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
#Hand-written
.gradle/
.idea/
build/
gradle/
piridialogs-release/
piricomponents-release/
piripreferences-release/
docs/
**.properties
gradlew**
**.log
**.aar
**.apk
**.iml
**.pro
